.vscode/*
.idea/*
backend/__pycache__/

**/__pycache__/*
influxdb2/*
*.sqlite3
*.g.dart
/syslog_*
backend/ansible/env/ssh_key
backend/ansible/inventory/hosts
*.sqlite3-shm
*.sqlite3-wal
backend_aegis/Cargo.lock
backend/ansible/inventory/hosts
backend_aegis/target